.about-section {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.about-image {
    height: 500px;
    width: 650px;
    object-fit: cover;
    object-position: -120px center; 
}