@import "components/sections/HeroSection/HeroSection.css";
@import "components/sections/AboutSection/AboutSection.css";
@import "components/sections/ServiceSection/ServiceSection.css";
@import "components/sections/ProjectsSection/ProjectsSection.css";
@import "components/sections/ContactSection/ContactSection.css";

@import "components/common/navbar/Navigation.css";
@import "components/common/BigButton/BigButton.css";
@import "components/common/ServiceItem/ServiceItem.css";
@import "components/common/ProjectItem/ProjectItem.css";
@import "components/common/Footer/Footer.css";

:root {
  --orange: #F7931E;
  --gray: #4D4D4D;
  --white: #FFF;
  --black: #000000;
  --spaceblack: #1E1E1E;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body,
html {
  margin: 0;
  min-height: 100vh;
  
}

h1 {
  font-size: 48px !important;
  font-weight: semi-bold !important;
  margin-bottom: 30px !important
}

p {
  font-size: 20px;
}

.text-orange {
  color: var(--orange);
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-space

.text-gray {
  color: var(--gray);
}