.pageheader {
    height: 35vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: -100px;
    color: var(--white);
    background-position: center center;
    background-size: 100%;
    padding-top: 100px;
}

.pageheader-title {
    font-size: 64px !important;
    font-weight: bold;
}