.footer {
    background-color: var(--spaceblack);
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-credits {
    color: var(--white);
    text-align: center;
    margin-top: 100px;
}

.footer-credits p {
    font-size: 16px;
    margin-bottom: 0px;
}

.footer-links a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: var(--orange);
}